.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    /* Optional: Add a slight background overlay */
    z-index: 9999;
    /* Ensure it's on top of other elements */
}

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    /* Light grey */
    border-top: 4px solid black;
    /* Black */
    border-radius: 50%;
    width: 40px;
    /* Smaller size */
    height: 40px;
    /* Smaller size */
    animation: spin 1s ease-in-out infinite;
    /* Smoother animation */
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

